body {
    background-color: rgb(186, 40, 40);
}

.title {
    text-align: center;
    font-size: 40px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.response {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.Results {
    width: 80px;
    height: 40px;
    border: solid 2px black;
    background-color: white;
}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}